video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

section {
  display: block;
}

ul {
  list-style: none;
}
q {
  quotes: none;
}
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

iframe {
  vertical-align: bottom;
  max-width: 100%;
}
select {
  font: inherit;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

p {
  padding-left: 10px;
}

body{
  line-height: 1;
  
  font: 16px/1.7 Neue Haas Grotesk, Pro;
  background-color: rgb(43, 43, 43);
  color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

/* Establishing Title Styles **/
header{
  font: 20px/1.7 Bebas Neue,regular;
  background: rgb(36, 36, 36);
  color:rgb(255, 255, 255);
  letter-spacing: 5px;
  border-bottom: rgb(37, 65, 214) 12px solid; 
  padding-top: 50px;
  padding-left: 10px;
  min-height: 100px;
}

header a:hover{
  color: rgba(37, 65, 214, 0.9);
  font-weight: bold;
}

header li{
  padding: 0 22px 0 22px;
  float: left;
  display: inline;
}

header a{
  color:rgb(43, 43, 43);
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
}

header nav{
  margin-bottom: 28px;
  margin-top: 10px;
  float: right;
}

.navbar, .navbar-brand, .container-fluid, .nav-link {
  font: 20px/1.7 Bebas Neue,regular;
  background: rgb(36, 36, 36);
  color:rgb(255, 255, 255);
}

.navbar-toggler {
  background: rgb(255, 255, 255);
}

footer{
  background-color: rgb(36, 36, 36);
  color:rgb(255, 255, 255);
  padding:20px; 
  text-align: center;
  margin-top:20px;
}

@media(max-width: 810px){
  iframe,
  #exhibit p,
  #exhibit h1,
  header nav li,
  header nav,
  header #titleBox,
  article#contentColumn,
  aside#content_side,
  #inputForm form,
  #inputForm h1,
  #contentArray .box
  #content_profiles .box{
    text-align: center;
    float: none;
    width: 100%;
  } 
  
  header{
    padding-bottom:  18px;
  }
}